SQLALCHEMY_DATABASE_URL="sqlite:///./api.db"
#---------------------------------------------------------------------------------------#
# To use PostgreSQL Database comment the above line and uncomment the line below.
# Make sure to update the below settings with correct user/password and database address.
#---------------------------------------------------------------------------------------#
# SQLALCHEMY_DATABASE_URL="postgresql://user:password@postgresserver/db"
CELERY_CONF_BROKER_URL="redis://localhost:6379"
CELERY_CONF_RESULT_BACKEND="redis://localhost:6379"
